@import '../../../../shared/styles.scss';

.backstory {
    text-align: justify;
    font-family: 'Libre Baskerville', serif;
    p {
        text-indent: 50px;
        line-height: 1.5em;
        word-spacing: 2px;
        font-size: 13px;
    }
}
