@import '../../../shared/styles.scss';

.content {
    display: flex;
    flex: 1;
    align-items: flex-start;
    justify-content: center;
    background-color: #fff;
    color: #555;
    width: calc(100vw - 100px);
    max-width: 1000px;
    height: 100%;
    padding: 20px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .content {
        width: auto;
    }
}
