.skills {
    margin: 10px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    table {
        table-layout: auto;
        border-collapse: collapse;
        width: 100%;
        text-align: left;
        font-size: 13px;
        th, td {
            padding: 5px 10px;
        }
        tr:nth-child(2n) {
            background-color: #eee;
        }
        td:nth-child(1) {
            width: 5%;
            text-align: center;
        }
        td:nth-child(2) {
            width: 15%;
            text-transform: uppercase;
            font-weight: bold;
            font-family: monospace;
        }
        th:nth-child(4), td:nth-child(4) {
            text-align: right;
        }
    }
}
